@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import "./reset";

body {
  font-family: "Alata", sans-serif;
  background: #fff;
}
.container {
  max-width: 1162px;
  padding: 0 24px;
  margin: 0 auto;
}
@mixin title($text-size, $text-weight) {
  font-family: "Josefin Sans", sans-serif;
  font-size: $text-size;
  line-height: 97%;
  font-weight: $text-weight;
  text-transform: uppercase;
}
.header {
  width: 100%;
  height: 650px;
  background-image: url("../image/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 64px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-list {
      display: flex;
      gap: 32px;
      @media (max-width: 760px) {
        gap: 0;
      }
      .nav-list_item {
        font-weight: 400;
        font-size: 15px;
        line-height: 167%;
        color: #fff;
      }
      .nav-menu {
        display: none;
      }
      @media (max-width: 760px) {
        .nav-list_item {
          display: none;
        }
        .nav-menu {
          display: block;
        }
      }
    }
  }
  .header-text {
    display: flex;
    align-items: center;
    margin-top: 130px;
    padding: 40px;
    border: 2px solid #fff;
    max-width: 650px;
    color: #fff;
    @include title(72px, 300);

    @media (max-width: 760px) {
      @include title(40px, 300);
    }
  }
}

.about {
  width: 100%;
  position: relative;
  padding: 160px 0 0 0;
  .about-description {
    padding: 96px 0 0 96px;
    max-width: 541px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    h2 {
      @include title(48px, 300);
      margin-bottom: 25px;
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 167%;
      opacity: 0.5;
    }
  }
  @media (max-width: 760px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-img {
      width: 100%;
    }
    .about-description {
      position: static;
      text-align: center;
      padding: 48px 0;
      h2 {
        @include title(32px, 300);
      }
    }
  }
}
.products {
  padding: 184px 0;
  display: grid;
  grid-template-areas:
    "productTitle productBtn"
    "products products";
  align-items: center;
  gap: 80px 0;
  h3 {
    @include title(48px, 300);

    color: #000;
    grid-area: productTitle;
  }
  button {
    width: 157px;
    padding: 13px 43px;
    border: 1px solid #000;
    grid-area: productBtn;
    justify-self: end;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.36em;
      text-transform: uppercase;
      color: #000;
    }
  }
  .product-list {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 256px));
    grid-auto-rows: 450px;
    gap: 30px;
    justify-content: center;
    .product-list_item {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 32px 40px;
      p {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 760px) {
    grid-template-areas:
      "productTitle productTitle"
      "products products"
      "productBtn productBtn";
    h3 {
      justify-self: center;
      @include title(32px, 300);
    }
    button {
      justify-self: center;
    }
    .product-list {
      grid-template-columns: 327px;
      grid-auto-rows: 120px;
      .product-list_item {
        padding: 20px;
        background-position: left 0px bottom -100px right -1px;
      }
    }
  }
}

.footer {
  background: #000;
  color: #fff;
  padding: 44px 0 33px 0;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-navigation {
      .logo {
        margin-bottom: 24px;
      }
      .footer-list {
        display: flex;
        gap: 32px;
        .footer-list_item {
          font-weight: 400;
          font-size: 15px;
          line-height: 167%;
          color: #fff;
        }
      }
    }
    .footer-sm {
      .sm-icons {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
      }
      .footer-sm_author {
        font-weight: 400;
        font-size: 15px;
        line-height: 167%;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
  @media (max-width: 760px) {
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 48px;
      .footer-navigation {
        .footer-list {
          flex-direction: column;
          align-items: center;
        }
      }
      .footer-sm {
        .sm-icons {
          justify-content: center;
        }
      }
    }
  }
}
